body {
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 4em;
  background-color: rgb(42, 181, 95);
  font-weight: bold;
  width: 100%;
  margin: 0;
  height: 100px;
  padding-top: 1em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: 'Comic Sans MS';
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #ff8c69;
  background-color: rgb(179, 116, 79);
  border: 0.3em solid rgb(80, 35, 9);
  line-height: 1.3em;
  border-radius: 50%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: 'Comic Sans MS';
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 0.3em;
}

#salmonPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  margin-top: 1.2em;
}

#cookiePic {
  margin-top: 10%;
  max-width: 30%;
  max-height: 450px;
  width: auto;
  height: auto;
}

.salmon {
  background-image: url('img/wood.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 1.3em;
  padding-top: 1.3em;
  margin-bottom: 0.8em;
}

.description {
  background-color: #ff8c69;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 0.2em;
}

.description ol {
  display: inline-block;
  color: black;
  padding-left: 3em;
  padding-right: 1em;
  width: 25%;
  margin: 0px auto;
  vertical-align: top;
  padding-top: 1.5em;
  font-family: sans-serif;
}

.description li {
  list-style-type: decimal;
  list-style-position: outside;
}